<!DOCTYPE html>
<html>
<head>
    @section('head')
        @include('includes.head')
    @show
    <title>CEUF - @yield('title')</title>
</head>
<body>
<!--     @section('navbar')
        @include('includes.navbar')
    @show -->

    @section('content')
    @show

<!--     <footer>
        @section('footer')
            @include('includes.footer')
        @show
    </footer> -->

    @section('script')
        @include('includes.script')
    @show

    @yield('page-js-script')

    <script type="text/javascript">
        $('.lfm').filemanager('file');

        $(document).ready(function(){
          $('.datatable').DataTable({
              dom: 'lfrt<"#export-opts"B>ip',
              language: {
                  "lengthMenu": '<select>'+
                      '<option value="10">10</option>'+
                      '<option value="25">25</option>'+
                      '<option value="50">50</option>'+
                      '<option value="100">100</option>'+
                      '<option value="-1">Todos</option>'+
                      '</select> registros',
                  "zeroRecords": "Nenhum registro encontrado",
                  "info": "Exibindo _START_ até _END_ de _TOTAL_ registro(s)",
                  "infoEmpty": "Exibindo 0 até 0 de 0 registros",
                  "infoFiltered": "(filtrado de _MAX_ registros)",
                  "search": "",
                  "paginate": {
                      "first": "Início",
                      "previous": "Anterior",
                      "next": "Próximo",
                      "last": "Último"
                  },
                  select: {
                      rows: ", %d linha(s) selecionada(s)"
                  }
              },
              "ordering": true,
              "order": []
              @yield('datatables')
          });
          $( document ).ready(function() {
              $('.dataTables_length select').attr('class', 'form-control form-control-sm');
              $('.dataTables_filter input').attr('placeholder', 'Pesquisar');
          });
        });

        $(document).ready(function(){
          $('.date').mask('00/00/0000');
          $('.time').mask('00:00:00');
          $('.date_time').mask('00/00/0000 00:00:00');
          $('.cep').mask('00000-000');
          $('.phone').mask('0000-0000');
          $('.phone_with_ddd').mask('(00) 00000-0000');
          $('.phone_us').mask('(000) 000-0000');
          $('.mixed').mask('AAA 000-S0S');
          $('.cpf').mask('000.000.000-00', {reverse: true});
          $('.cnpj').mask('00.000.000/0000-00', {reverse: true});
          $('.money').mask('000.000.000.000.000,00', {reverse: true});
          $('.money2').mask("#.##0,00", {reverse: true});
          $('.ip_address').mask('0ZZ.0ZZ.0ZZ.0ZZ', {
            translation: {
              'Z': {
                pattern: /[0-9]/, optional: true
              }
            }
          });
          $('.ip_address').mask('099.099.099.099');
          $('.percent').mask('##0,00%', {reverse: true});
          $('.clear-if-not-match').mask("00/00/0000", {clearIfNotMatch: true});
          $('.placeholder').mask("00/00/0000", {placeholder: "__/__/____"});
          $('.fallback').mask("00r00r0000", {
              translation: {
                'r': {
                  pattern: /[\/]/,
                  fallback: '/'
                },
                placeholder: "__/__/____"
              }
            });
          $('.selectonfocus').mask("00/00/0000", {selectOnFocus: true});
        });
    </script>
</body>
</html>
